extend ../layout


block content
	.row
		h2.text-center.title-color(class='headerTitle')
		p.title-test-sentimen.title-group(class='titleGroup bs-callout bs-callout-danger')
	br
	.row
		.col-md-6.col-sm-6
			.row
				h4.text-center(style='color:#5bc0de') Input
			.row
				.col-sm-2.col-md-2
					p Sentence:
				.col-sm-10.col-md-10
					textarea.textarea-test-sentence(class='txt_content form-control', type='text', name='content', id='sentence', required) #{icontents}
			.row
				.col-sm-12.col-md-12.text-right
					button(class='btn_analyse btn btn-info btn-sm', type='submit', name='Submit', analyze='Analyze') Analyze
					span &nbsp;
					button(class='btn_reset btn btn-default btn-sm', type='reset') Reset
			br
		.col-sm-6.col-md-6
			h4.text-center(style='color:#5bc0de') Analysis Result
			.row
				.col-md-4
					p F-measure:
				.col-md-8
					a(class='results_score')
			.row
				.col-sm-12.col-md-12
					table(class='table table-bordered table-hover', id='table-results')
						thead
							tr(class='info')
								th(class='text-center') No 
								th(class='text-center') Group/Fanpage
								th(class='text-center') Link
						tbody
			//- .row
			//- 	.col-sm-12.col-md-12
			//- 		label Processing Flow
			//- .row
			//- 	.col-sm-12.col-md-12
			//- 		pre(class='text-results')

block scripts
	script(type='text/javascript', src='/javascripts/social-media.js')


