ul.nav.navbar-nav
    li
        .btn-group
            button.btn.btn-info.btn-sm(type='button') Forums
            button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu.small-font(role='menu')
                //- li
                //-     a(href='/forums/summary') Summary
                //- li
                //-     a(href='/forums/category') Category
                //- li
                //-     a(href='/forums/domain') Threads
                //- li
                //-     a(href='/forums') Check Thread
                //- li
                //-     a(href='http://104.156.49.173/forum_test/') Check Forums Pattern
                //- li
                //-     a(href='/forums/add-category') Add Category
                //- li
                //-     a(href='/forums/add-thread') Add Thread
    li
        .btn-group
            button.btn.btn-info.btn-sm(type='button') News
            button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu.small-font(role='menu')
                //- li
                //-     a(href='/news') Summary
                //- li
                //-     a(href='/news/category') Category
                //- li
                //-     a(href='/news/urls') URLs
                //- li
                //-     a(href='/news/checkurl') Check URL
                //- li
                //-     a(href='http://104.156.49.173/news_test/', target = "_blank") Check News Pattern
                //- li
                //-     a(href='/news/comment') Check Comment
                //- li
                //-     a(href='http://104.156.49.173/comment_test/', target = "_blank") Check Comment Pattern
                //- li
                //-     a(href='/news/add-category') Add Category
                //- li
                //-     a(href='/news/add-article') Add Article
    li
        .btn-group
            button.btn.btn-info.btn-sm(type='button') Facebook
            button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu.small-font(role='menu')
                //- li
                //-     a(href='/thirdparty') Posts Pool
                //- li 
                //-     a(href='/user-comment-pool') Comment Pool 
                //- li
                //-     a(href='/fbmanagement/search-post') Insert User's post
                //- li
                //-     a(href='/influencer-import') Import Influencer
                //- li.divider(role="presentation")     
                //- li
                //-     a(href='/page-search') Facebook Page Search
                //- li
                //-     a(href='/group-search') Facebook Group Search
                //- li
                //-     a(href='/profile-search') Facebook Profile Search (!) 
                //- li.divider(role="presentation")
                //- li
                //-     a(href='/fb-account2') Facebook Account
                //- li
                //-     a(href='fb-content') Facebook Content
                //- li
                //-     a(href='/fb-token') Facebook Token
                //- li
                //-     a(href='/fb-reference') Facebook Reference 
                //- li.divider(role="presentation")
                //- li
                //-     a(href='/fb-page-statistics') Pages Management
                //- li
                //-     a(href='/fb-groups-statistics') Groups Management
                //- li
                //-     a(href='/fb-events') Events Management (!)    
                //- li 
                //-     a(href='/fb-category-management') Category Management 
    li
        .btn-group
            button.btn.btn-info.btn-sm(type='button') Google 
            button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu.small-font(role='menu')
                //- li
                //-     a(href='/google/youtube-channel') Youtube Channel 
    li
        .btn-group
            button.btn.btn-info.btn-sm(type='button') TM(!)
            button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu.small-font(role='menu')
                //- li
                //-     a(href='/ticket/list') Ticket Management
    li
        .btn-group
            button.btn.btn-info.btn-sm(type='button') Sentiment
            button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu.small-font(role='menu')
                //- li
                //-     a(href='/alias') Alias
                //- li
                //-     a(href='/subject') Subject
                //- li
                //-     a(href='/sentiment/ontology') Ontology
                //- li
                //-     a(href='/sentiment') Dictionary Management
                //- li.divider(role="presentation") 
                //- li
                //-     a(href='/sentiment/testSentiment/testsentiment') Mention Testing
                //- li
                //-     a(href='/sentiment/sentiment-version-js') 
                //-         img(class='starred-img' src="/images/starred.png")
                //-         span Mention Testing [In Development]
                //- //- li
                //-     //- a(href='/sentiment/testSentiment/datasettesting') Dataset Testing
                //- li.divider(role="presentation") 
                //- li
                //-     a(href='/sentiment/attributes') Attributes
                //- li
                //-     a(href='/sentiment/attributesdictionary') Attributes Dictionary
                //- li
                //-     a(href='/attribute/testing/attribute-testing')
                //-         img(class='starred-img' src="/images/starred.png")
                //-         span Attributes Testing [In Development]
                //- li.divider(role="presentation")
                //- li
                //-     a(href='/report') Report Management
                //- li
                //-     a(href='/report/details') Report Management Details
    li
        .btn-group
            button.btn.btn-info.btn-sm(type='button') CM
            button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu.small-font(role='menu')
                //- li
                //-     a(href='/cm/copymentions') Copy Mentions to Topic
                //- li
                //-     a(href='/copy-mentions-by-keywords')
                //-         img(class='starred-img' src="/images/starred.png")
                //-         span Copy mentions by Search Phrase 
                //- li
                //-     a(href='/cm/editmentions') Edit Mentions to Solr
                //- li
                //-     a(href='/cm/insertmention') Insert Mentions to DB(!)
                //- li.divider(role="presentation")
                //- li
                //-     a(href='/cm/tracemonitor') Trace Monitor [FB]
                //- li
                //-     a(href='/cm/news') Trace Monitor [News]
                //- li    
                //-     a(href='/cm/forums') Trace Monitor [Forums]
                //- li    
                //-     a(href='/cm/youtube') Trace Monitor [Youtube]
    //- li
    //-     .btn-group
    //-         button.btn.btn-info.btn-sm(type='button') Topic
    //-         button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
    //-             span.caret
    //-             span.sr-only Toggle Dropdown
    //-         ul.dropdown-menu.small-font(role='menu')
    //-             li 
    //-                 a(href='/topics') 
    //-                     img(class='starred-img' src="/images/starred.png")
    //-                     span Topics Statistics 
    //-             li.divider(role="presentation")    
    //-             li 
    //-                 a(href='/history') Mention History
    //-             li 
    //-                 a(href='/topic-history') Topics History 
    //-             li.divider(role="presentation")    
    //-             li
    //-                 a(href='/sentiment/topicmonitor') Topic Monitor
    //- li
    //-     .btn-group
    //-         button.btn.btn-info.btn-sm(type='button') Audiences
    //-         button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
    //-             span.caret
    //-             span.sr-only Toggle Dropdown
    //-         ul.dropdown-menu.small-font(role='menu')
    //-             li 
    //-                 a(href='/fbmanagementvs2') Audiences Management
    //-             li
    //-                 a(href='/demographics') Demographics Managemnet(!) 
    //- li
    //-     .btn-group
    //-         button.btn.btn-info.btn-sm(type='button') Monitor
    //-         button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
    //-             span.caret
    //-             span.sr-only Toggle Dropdown
    //-         ul.dropdown-menu.small-font(role='menu')
    //-             li 
    //-                 a(href='/solr-data-statistics') 
    //-                     img(class='starred-img' src="/images/starred.png")
    //-                     span Solr Master Statistics (*)
    //-             li.divider(role="presentation") 
    //-             li 
    //-                 a(href='/checklist') Check List Config
    //-             li
    //-                 a(href='/checklog') Check List Log 
    //- li
    //-     .btn-group
    //-         button.btn.btn-info.btn-sm(type='button') Others
    //-         button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
    //-             span.caret
    //-             span.sr-only Toggle Dropdown
    //-         ul.dropdown-menu.small-font(role='menu')
    //-             li
    //-                 a(href='/keyword') Keyword
    //-             li
    //-                 a(href='/source') Source Manager
    //-             li(class="hidden")
    //-                 a(href='/add-new-source') Add New Source
    //-             li
    //-                 a(href='/source/pending') Source Pending Manager
    //-             li
    //-                 a(href='/solrmaster/shardfinder') Shard Finder  
    //-             li
    //-                 a(href='http://socialheat.younetmedia.com/') SocialHeat Home
    //-             li
    //-                 a(href='/appsentiment') SocialHeat Set Sentiment
    //-             li
    //-                 a(href='http://socialheat.younetmedia.com/system/content/statistics') SocialHeat Statis
    //-             li
    //-                 a(href='http://socialheat.younetmedia.com/system/monitor') SocialHeat Monitor 
    //-             li
    //-                 a(href='/download/chrome_extension_vs_1.2.crx') Download Chrome's extension (1.2)